:root {
    --text: #181818;
    --primary: #00467f;
    --secondary: #1F9AFF;
    --orange: darkOrange;
    --white: #ffffff;
    --red: #f15e5e;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --darkGrey: #808080;
    --lightGrey: #D3D3D3;
    --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
    --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
    --light-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: var(--greyLight-1);
}

.text {
    color: var(--text);
}


.title-sm {
    color: var(--text);
    margin: 10px 5px 5px;
}


.confirm-modal-text {
    color: var(--text);
    font-size: xx-large;
}

.delete-warning {
    font-size: 40px;
    color: var(--red);
    position: relative;
    margin-top: 20px;
}

.delete-warning-circle {
    font-size: 80px;
    color: var(--red);
    margin: -70px auto 0;
}

.content {
    text-align: center;
    padding: 30px;
    max-width: 1500px;
    margin: 0px auto auto;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 720px));
    justify-content: center;
    border-radius: 0.317rem;
    padding: 20px;
    box-shadow: var(--light-shadow);
}

.table-item {
    margin: 20px;
}

.line-canvas {
    width: 50px;
    height: 210px;
    display: block;
    margin: 10px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.grid-item {
    border-radius: 0.317rem;
    margin: 10px;
    /*height: 210px;
    width: 210px;*/
    height: 190px;
    width: 190px;
    padding: 5px;
    background: var(--greyLight-1);
    box-shadow: var(--inner-shadow);
    position: relative;
    user-select: None;
}

.button-div {
    margin: 10px;
    /*height: 200px;
    width: 200px;*/
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
}

.grid-item:hover {
    opacity: 0.85 !important;
    cursor: pointer;
}

.robot-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}

.robot-item {
    width: 110px;
    height: 420px;
    background: var(--greyLight-1);
    border-radius: 0.317rem;
    margin: 10px;
    display: block;
    position: relative;
    box-shadow: var(--inner-shadow);
    user-select: None;
}

.robot-item:hover {
    opacity: 0.85;
    cursor: pointer;
}

/*------------------------------------------------*/
/*                   BUTTONS                      */
/*------------------------------------------------*/

.button {
    padding: 0.75rem 1rem;
    border: 0;
    border-radius: 0.317rem;
    background-color: var(--primary);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

.button:hover {
    opacity: 0.85;
}

.button:active {
    box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

.randomize-button {
    width: 100px;
}

.start-button {
    margin-top: 30px;
    width: 300px;
}

.add-button {
    width: 50px;
    height: 50px;
    margin: auto auto;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 500;
    padding: 0;
}

.details-button {
    position: absolute;
    width: 90%;
    bottom: 2%;
    left: 5%;
}

.lab-button {
    background-color: var(--darkGrey);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3%;
    cursor: pointer;
    vertical-align: middle;
    padding: 2px;
}

.lab-button:hover {
    opacity: 0.85;
}

.navigation-button {
    width: 100px;
}

.edit-button {
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    background: var(--primary);
    color: var(--white);
    border: 0;
    position: absolute;
    top: -10px;
    left: -10px;
    display: none;
    font-weight: 100;
    padding: 0;
}

.delete-button {
    width: 30px;
    height: 30px;
    border-radius: 1rem;
    background: var(--red);
    color: var(--white);
    border: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
    font-weight: 100;
    padding: 0;
}

.back-button {
    position: absolute;
    left: 20px;
    top: 20px;
}

/*------------------------------------------------*/
/*                   MODAL                        */
/*------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

@media (min-height: 800px) { /* equal to or less than 800px */
    .modal-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.modal-content {
    background-color: var(--greyLight-1);
    margin: 0 auto;
    padding: 20px;
    width: 720px;
    border-radius: 0.317rem;
    text-align: center;
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    background: var(--greyLight-1);
}

.confirm-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.confirm-modal-content {
    background-color: var(--greyLight-1);
    margin: 0 auto;
    padding: 30px;
    width: 400px;
    border-radius: 0.317rem;
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.confirm-buttons {
    text-align: unset;
    height: 50px;
}

.delete {
    background: var(--red);
    float: right;
}

.cancel {
    float: left;
}

.close {
    color: var(--lightGrey);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

.input {
    width: 350px;
    height: 80px;
    border: none;
    border-radius: 1rem;
    outline: none;
    font-size: 40px;
    font-weight: bold;
    padding: 0 4vmin;
    box-shadow: var(--inner-shadow);
    background: var(--greyLight-1);
    color: var(--primary);
    caret-color: var(--primary);
    text-align: center;
    margin-bottom: 30px;
}

.canvas {
    border: 5px solid rgba(255,255,255,0.1);
}

.modal-title {
    color: var(--text);
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.selection-map {
    background: var(--greyLight-1);
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid rgba(255,255,255,0.1);
    box-shadow: var(--light-shadow);
}

.drag-buttons-box {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-user-select: none;
}

.draggable-start {
    height: 50px;
    width: 50px;
    border: 0;
    color: var(--text);
    background-color: var(--orange);
    text-decoration: none;
    cursor:move;
    border-radius: 0.317rem;
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-finish {
    width: 50px;
    height: 50px;
    border: 0;
    color: var(--text);
    text-decoration: none;
    cursor: move;
    border-radius: 0.317rem;
    background-color: var(--white);
    background-image:  repeating-linear-gradient(45deg, var(--text) 25%, transparent 25%, transparent 75%, var(--text) 75%, var(--text)), repeating-linear-gradient(45deg, #000000 25%, #ffffff 25%, #ffffff 75%, #000000 75%, #000000);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.left {float: left;}

.right {float: right;}

.navigation-button-box {
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.creator-input {
    width: 250px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 0;
    /*margin-top: 10px;*/
}

.robot-img-sm {
    width: 60px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.robot-img-lg {
    width: 150px;
    height: 200px;
}


.modal-table {
    display: grid;
    grid-template-columns: 30% 70%;
}

.modal-table-item-left {
    margin: auto 20px auto auto;
}

.modal-table-item-right {
    min-width: 400px;
    background: var(--greyLight-1);
    margin: auto auto auto 20px;
    border-radius: 0.317rem;
    padding: 20px;
}

.robot-modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    border-radius: 0.317rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.algorithm {
    margin-top: 10px;
    background: var(--text);
    color: var(--white);
    text-align: left;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.317rem;
    box-shadow: var(--light-shadow);
}

.robot-extra-information {
    text-align: left;
    font-size: 17px;
    border-radius: 0.317rem;
    margin-bottom: 10px;
}

.extra-information-title {
    margin-bottom: 5px;
}

.extra-information-text {
    font-size: small;
}

.robot-algorithm {
    text-align: left;
}

pre {
    margin: 0;
}

code {
    font-family: monospace;
    font-size: medium;
}

.slider-container {
    width: 40%;
    margin-right: 130px;
    margin-top: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: var(--lightGrey);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.317rem;
}

.slider:hover {
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0.317rem;
}

/*Firefox*/
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--primary);
    cursor: pointer;
    border-radius: 0.317rem;
}



